@media (max-width:1200px) {
    .content-7-row{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .content-8-row{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .content-3-about{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .content-3-about-right{
        max-width: 100%;
        width: 100%;
    }
    .content-3-about-left{
        max-width: 100%;
        width: 100%;
    }
    /* .content-3-left-line{
        width: 20%;
    } */
    .content-3-about-left {
        height: 0%;
        gap: 50px;
    }
}
@media (max-width:1170px) {
    .content-4-row{
        justify-content: center;
    }
}
@media (max-width:1120px) {
    .navbar .right ul{
        display: flex;
        gap: 30px;
    }
    .left ul li a{
        font-size: 25px;
        color: white;
    }
    .right ul li a{
        color: white;
        font-size: 17px;
    }
    .content-6-row{
        justify-content: space-between;
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media (max-width:890px){
    .content-6-row{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

}
@media (max-width:870px){
    /* .content-3-left-line{
        width: 32%;
    } */
    .content-1-rows{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .content-1-footer-row{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .content-1-left img{
        width: 100%;
    }
    .card p{
        font-size: 15px;
    }
    .footer-row{
        flex-wrap: wrap;
        justify-content: left;
        gap: 50px;
    }

}
@media (max-width:840px) {
    .navbar .right ul{
        display: flex;
        gap: 20px;
    }
    .left ul li a{
        font-size: 22px;
        color: white;
    }
    .right ul li a{
        color: white;
        font-size: 15px;
    }
    .dot{
        display: none;
    }

}
@media (max-width:700px) {
    .humburger{
        display: block;
       }
       .navbar{
        backdrop-filter: inherit;
       }
       .nav-list{
        position: fixed;
        right: -80%;
        top: 0;
        bottom: 0;
        width: 80%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(0, 0, 0, 0.6);
        backdrop-filter: blur(8px);
        opacity: 0.9;
        transition:  0.3s;
        -webkit-transition:  0.3s;
        -moz-transition:  0.3s;
        -ms-transition:  0.3s;
        -o-transition:  0.3s;
    
        }
        .navbar-shrink{
            background-color: rgb(211,76,86);
        }
        #navbar-close{
            display: block;
            border: none;
            background-color: transparent;
            position: absolute;
            top: 70px;
            right: 20px;
        }
        .right ul li a{
            color: white;
            font-size: 22px;
        }
}
@media (max-width:648px) {
    .slider-line {
    height: 350px;
        
    }
}
@media (max-width:610px) {
    /* .content-3-left-line{
        width: 42%;
    } */
    .head-about .container{
        justify-content: space-between;
    }
    .hover-scale{
        max-width: 350px;
        width: 100%;
        height: 420px;
    }
    .content-4-row-card{
        max-width: 350px;
        width: 100%;
        height: 420px;
    }
}
@media (max-width:520px) {
    .content-3-left p{
        font-size: 13px;
        line-height: 17px;
    }
    .content-7-row-footer{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}
@media (max-width:450px) {
    .content-3-about-right h1{
        font-size: 20px;
    }
    .content-3-about-right p{
        font-size: 13px ;
        line-height: 16px;
    }
}
@media (max-width:420px) {
    .content-3-left p{
        font-size: 13px;
        line-height: 15px;
    }
 
}
@media (max-width:418px) {
    .slider-line {
    height: 350px;
        
    }
}
@media (max-width:400px) {
    .head-about .container{
        gap: 50px;
    }
    .header-content{
        width: 100%;
        padding-top: 150px;
        padding-bottom: 40px;
    }
    .content-6-row{
        margin-top: 50px;
    }
}
@media (max-width:380px) {
    .card p{
        font-size: 11px;
    }
    .card h1{
        font-size: 18px;
    }
    .content-3-about-right h1{
        font-size: 17px;
    }
    .content-3-about-right p{
        font-size: 12px ;
        line-height: 15px;
    }
    .content-3-about-right {
        gap: 90px;
    }
}
@media (max-width:360px) {

    .head-about ul li {
        font-size: 14px;

    }
    .content-6 h1{
        font-size: 30px;
    }
    .content-6-row{
        margin-top: 50px;
    }
}
@media (max-width:350px) {
    .head-about{
        gap: 20px;
        font-size: 17px;
    }
    .content-3-about-right h1{
        font-size: 15px;
    }
    .content-4 .container h1{
        font-size: 35px;
    }
}

@media (max-width:331px) {
    
    .head-about .container {
        gap: 20px;
    }
    .head-about ul li {
        font-size: 13px;
    }
    .slider-line {
        height: 320px;
    }
}
@media (max-width:300px) {
    .slider-line {
        height: 300px;
    }
}