@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Geologica', sans-serif;
    font-family: 'Roboto', sans-serif;
}
*,::after,::before{
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.head-about .container{
    display: flex;
    gap: 100px;
    justify-content: flex-end;
    padding-top: 10px;
    color: gray;
}
.head-links{
    display: flex;
    gap: 15px;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navbar{
    background-color: #D34C56;
    padding: 20px 20px 20px 20px;
    transition: all 0.5s;
}
.navbar .right ul{
    display: flex;
    gap: 50px;
}
.left ul li a{
    font-size: 30px;
    color: white;
    transition: all .5s;
}
.right ul li a{
    color: white;
    font-size: 17px;
}
.right ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: width .3s;
}
.right ul li a:hover::after {
    width: 100%;
}
.left ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: width .3s;
}
.left ul li a:hover::after {
    width: 100%;
}
.humburger{
    border: none;
    background-color: transparent;
    display: none;
}
.close{
    display: none;
}  

html{
    scroll-behavior: smooth;
}
.header-content{
    width: 100%;
    padding-top: 200px;
    padding-bottom: 50px;
    background: url(../images/IMG_1463.PNG) no-repeat center center;
    background-size: cover;
    opacity: 1;
    text-align: center  ;
    transition: all 1s;
}

.header-content-about {
    width: 100%;
    height: 100%;
    background-color: black;
}
.header-content h1{
    color: #D34C56;
    font-size: 75px;
    font-family: 'Geologica', sans-serif;
    font-weight: 400;
    margin-bottom: 40px;
}
.header-content  p {
    padding-left: 20px; 
    padding-right: 20px; 
    max-width: 700px; 
    width: 100%;
    font-size: 22px;
    color: white;
    margin: auto;
}
.header-part-footer {
    margin-top: 200px;

}
.header-part-footer a img{
    /* animation-name: down-arrow;
    animation-duration:  0.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: backwards; */
    animation: loading 1s infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    transform: translate(0%,0%);
    opacity: 0.5;
}
@keyframes loading{
    from{

        transform: translate(0%,100%);
    }
    to{
        transform: translate(0%,0%);
    }
}
.content-1{
    background-color: #FAF3E1;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 70px;
}
.content-1-header h1{
    color: black;
    font-size: 40px;
    padding-bottom: 20px;
}
.content-1-header p{
    font-size: 14px;
    line-height: 25px;
}
.content-1-rows{
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.card{
    max-width: 600px;
    width: 100%;
    height: 120px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    align-items: center ;
}
.card h1{
    margin-left: 20px;
}
.card p{
    padding-left: 80px;
    
}
.content-1-footer-row{
    display: flex;
    gap: 70px;
    flex-wrap: wrap ;
}
.navbar-fixed{
    position: fixed;
    width: 100%;
    z-index: 3;
}
.head-about{
    background-color: white;
}
.navbar-shrink{
    padding-top: 5px ;
    padding-bottom: 5px;
    
    transition-timing-function: linear;
} 
.backtop button{
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: -50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    right: 30px;
    font-size: 25px;
    border-radius: 50%;
    border: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    background-color:#D34C56;
    z-index: 999;
}
.down-remove{
    visibility: hidden;
}
.content-2{
    width: 100%;
    padding-top: 200px;
    padding-bottom: 250px;
    background: url(../images/photo_2023-06-08_08-59-01.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    text-align: center;
}
.content-2::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    background:  rgba(0,0,0,0.75);
}

.content-2-container{
    width: 100%;
    margin: auto;
    position: absolute;
    z-index: 2;
}
.content-2-container h1{
    color: white;
    font-size: 35px;
    font-weight: 300;
}
.content-2-container h2{
    color: white;
    font-size: 32px;
    font-weight: 200;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.content-3{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color:#FAF3E1;
}
.content-3-header {
    text-align: center;
}
.content-3-header h1{
    font-size: 40px;
}
.content-3-header p{
    max-width: 860px;
    width: 100%;
    margin: auto;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.content-3-about-left {
    max-width: 45%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 250px;
    height: 70%;
}
.content-3-left{
    width: 100%;
    text-align: right;
    position: relative;

}
.con-3-line{
    width: 100%;
    position: relative;
}
.content-3-left-line{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    right: 0;
    width: 100%;
}
.con-3-line-part-1{
    width: 5px;
    height: 5px;
    outline: 1px solid black;
    border-radius: 50%;
    background-color: black;
}
.con-3-line-part-2{
    width: 100%;
    outline: 1px solid black;
    position: absolute;
}
.content-3-left p{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 25px;
}
.content-3-about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px ;
    width: 100%;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}
.content-3-about-card{
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

}
.content-3-about-card p{
    font-size: 13px;
    line-height: 20px;
    margin-left: 60px;
}
.content-3-about-right{
    max-width: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}